.main{
  text-align: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  background: #72A1BF 0% 0% no-repeat padding-box;
  opacity: 1;
}

.App {
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
}

.box1 {
  top: 356px;
  left: 392px;
  width: 523px;
  height: 519px;
  position: absolute;
  background: #F2FAFF 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 0px 36px;
  opacity: 1;
}  

.box2 {
  top: 356px;
  left: 915px;
  width: 614px;
  height: 519px;
  position: absolute;
  background: #F2FAFF 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 36px 0px;
  opacity: 1;
}

.head{
  top: 205px;
  left: 392px;
  width: 1127px;
  height: 151px;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  background: #074770 0% 0% no-repeat padding-box;
  border-radius: 36px 36px 0px 0px;
  opacity: 1;
}

td, th {
  text-align: left;
  padding: 8px;
}

.button1{
  top: 264px;
  left: 1288px;
  width: 179px;
  height: 42px;
  border: none;
  float: right;
  cursor: pointer;
  border-radius: 21px;
  text-align: center;
  font: normal normal bold 14px/19px Segoe UI;
  letter-spacing: 0px;
  color: #074770;
  margin-left: 50px; 
  opacity: 1;
}

input{
  top: 272px;
  height: 42px;
  background: #F2FAFF 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}

.input1{
  left: 428px;
  width: 179px;
}

.input2{
  left: 627px;
  width: 120px;
}

.input3{
  left: 767px;
  width: 120px;
}

.button2{
  top: 794px;
  left: 428px;
  width: 445px;
  height: 42px;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 300px;
  font: normal normal bold 14px/19px Segoe UI;
  color: #838A8F;
  background: #C6D1D9 0% 0% no-repeat padding-box;
  border-radius: 21px;
  opacity: 1;
}

.button{
  top: 29px;
  left: 32px;
  width: 84px;
  height: 42px;
  position: absolute;
  float: left;
  cursor: pointer;
  background: #F2FAFF 0% 0% no-repeat padding-box;
  font: normal normal normal 14px/19px Segoe UI;
  color: #A0A3A5;
  border-radius: 4px;
  opacity: 1;
}

.input_fields {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.input_section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.input_fields_btn {
  margin-left: 300px;
}

.input_label {
  color: #A5C0D1;
  font: normal normal normal 14px/19px Segoe UI;
}

.block1 {
  display: flex;
  flex-direction: column;
}

.bttn2 {
  top: 100px;
  margin: 30px;
  position: absolute;
  align-self: flex-end;
}